<!-- <div class="container">
  <p><a href="https://coryrylan.com/blog/tree-shakeable-providers-and-services-in-angular">Tree Shakeable Providers and
      Services in Angular</a></p>

  <div class="content">
    <a class="btn btn-danger" routerLink="/">home</a>&nbsp;
    <a class="btn btn-primary" routerLink="/feature-1">feature 1</a>&nbsp;
    <a class="btn btn-success" routerLink="/feature-2">feature 2</a>&nbsp;
    <a class="btn btn-warning" routerLink="/feature-3">feature 3</a>&nbsp;
    <a class="btn btn-warning" routerLink="/shopping">Shopping</a>&nbsp;
  </div>
  <router-outlet></router-outlet>
</div> -->

<mat-sidenav-container class="main-container">
  <mat-sidenav #snv mode="side" class="sidenav">
    <mat-nav-list>
      <a mat-list-item>
        <mat-icon mat-list-icon>filter_1</mat-icon>
        <h3 mat-line>Page1</h3>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-container">
    <mat-toolbar class="toolbar">
      <a mat-icon-button (click)="snv.toggle()">
        <mat-icon>menu</mat-icon>
      </a>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>